doctype html
html(lang="ko")
    head
        title Wetube
    body
        h1 Edit
        if item 
            form(action=`/${item.id}/edit` method="POST")
                input(placeholder=`${item.title}`, required, type="text", name="title")
                input(placeholder=`${item.description}`, required, type="text", name="manufacturer")
                input(placeholder=`${item.distributer}`, required, type="text", name="distributer")
                input(placeholder=`${item.description}`, required, type="text", name="description")
                input(placeholder=`${item.count}`, required, type="text", name="price")
                input(placeholder=`${item.count}`, required, type="number", name="count")
                input(type="submit", value="Update Item")