extends base.pug

block head
    title Wetube
block content
    div.headerText
        h1 Edit an item (UPDATE)
    if item 
        form(action=`/${item.id}/edit` method="POST")
            div
                label(for='html') Title
                input(value=`${item.title}`, required, type="text", name="title")
            div
                label(for='html') Manufacturer
                input(value=`${item.manufacturer}`, required, type="text", name="manufacturer")
            div
                label(for='html') Distributor
                input(value=`${item.distributer}`, required, type="text", name="distributer")
            div
                label(for='html') Description
                input(value=`${item.description}`, required, type="text", name="description")
            div
                label(for='html') Price
                input(value=`${item.price}`, required, type="decimal", name="price")
            div 
                label(for='html') Unit
                input(value=`${item.unit}`, required, type="text", name="unit")
            div 
                label(for='html')
                input(type="submit", value="Update Item")