doctype html
html(lang="ko")
    head
        title Wetube
    body
        h1 Edit
        if item 
            p=item.title
            p=item.manufacturer
            p=item.distributer
            p=item.price
            p=item.unit
    include partials/footer.pug