extends base.pug

block head
    title #{pageTitle} | Wetube
block content

    h1.headerText Input item details (CREATE)

    form(action="/" method="POST")
        input(placeholder="Title", required, type="text", name="title")
        input(placeholder="Manufacturer", required, type="text", name="manufacturer")
        input(placeholder="Distributer", required, type="text", name="distributer")
        input(placeholder="Description", required, type="text", name="description")
        input(placeholder="Price", required, type="decimal", name="price")
        input(placeholder="Unit", required, type="text", name="unit")
        input.btn.btn-primary.btn-lg(type="submit", value="Add Item")


    h1.headerText View item(s) in the DB (READ)


    if items 
         table.table.table-hover.table-responsive
            thead
                h1 Filter by
                tr
                    th(scope='col') ID   
                    th(scope='col') Title   
                    th(scope='col') Manufacturer
                    th(scope='col') Distributer
                    th(scope='col') Description 
                    th(scope='col') CreatedAt 
                    th(scope='col') Price($)
                    th(scope='col') Unit
                    th(scope='col') Edit
                    th(scope='col') Delete
                tr
                    th(scope='col') 
                        button 
                            a(href=`/id` role='button') ⬇️
                    th(scope='col') 
                        button
                            a(href=`/title` role='button') ⬇️
                    th(scope='col') 
                        button
                            a(href=`/manufacturer` role='button') ⬇️
                    th(scope='col') 
                        button
                            a(href=`/distributer` role='button') ⬇️
                    th(scope='col') 
                        button
                            a(href=`/description` role='button') ⬇️
                    th(scope='col') 
                        button
                            a(href=`/createdat` role='button') ⬇️
                    th(scope='col') 
                        button
                            a(href=`/price` role='button') ⬇️
                    th(scope='col') 
                        button
                            a(href=`/unit` role='button') ⬇️
            tbody
                each item in items
                    tr

                        th(scope='row') #{item.id}
                        th #{item.title}
                        td #{item.manufacturer}
                        td #{item.distributer}
                        td #{item.description}
                        td #{item.createdAt}
                        td #{item.price}
                        td #{item.unit}
                        td 
                            a.btn.btn-lg.btn-primary(href=`/${item.id}/edit` role='button') Edit
                        td 
                            form(action=`/${item.id}/delete` method='post')
                                input.btn.btn-lg.btn-danger.btn-block(type='submit' value='Delete')
                        
