extends base.pug

block head
    title #{pageTitle} | Wetube
block content
    form(action="/" method="POST")
        input(placeholder="Title", required, type="text", name="title")
        input(placeholder="Manufacturer", required, type="text", name="manufacturer")
        input(placeholder="Distributer", required, type="text", name="distributer")
        input(placeholder="Description", required, type="text", name="description")
        input(placeholder="Price", required, type="number", name="count")
        input(placeholder="Count", required, type="text", name="price")
        input(type="submit", value="Add Item")
    
    if items 
         table.table.table-hover.table-responsive
            thead
                tr
                    th(scope='col') ID
                    th(scope='col') Title
                    th(scope='col') Manufacturer
                    th(scope='col') Distributer
                    th(scope='col') Description 
                    th(scope='col') CreatedAt 
                    th(scope='col') Price
                    th(scope='col') Unit
                    th(scope='col') Edit
                    th(scope='col') Delete
            tbody
                each item in items
                    tr
                        script.
                            function myFunction() {
                            const var1 = #{item.id}
                            return "location.href='https://google.com';";
                            }
                        th(scope='row') #{item.id}
                        th #{item.title}
                        td #{item.manufacturer}
                        td #{item.distributer}
                        td #{item.description}
                        td #{item.createdAt}
                        td #{item.price}
                        td #{item.count}
                        td 
                            a.btn.btn-lg.btn-primary(href=`/${item.id}/edit` role='button') Edit
                        td 
                            button.btn.btn-lg.btn-danger(type='button' active='') Delete
                        
